# dependencies
node_modules/
.pnp
.pnp.*

# next.js
.next/
out/
build/
next-env.d.ts

# production
dist/

# env
.env
.env.local
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# testing
coverage/

# macOS
.DS_Store

# editors
.idea/
*.swp

# logs
*.log
npm-debug.log*
pnpm-debug.log*
